<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Titanic Traveller</h1>
    <p>Board the Titanic and see if you survive</p>
    <form>
        <div>
            <label>Name:</label>
            <select name="Title">
                <option value="Mr">Mr</option>
                <option value="Mrs">Mr</option>
                <option value="Miss">Mr</option>
            </select>
            <input type="text" placeholder="Jack Dawson">
        </div>
        <div>
            <label>Age:</label>
            <input type="number" name="Age">
        </div>
        <div>
            <label>Class:</label>
            <select name="Pclass">
                <option value="1">First class</option>
                <option value="2">Second class</option>
                <option value="3">Stowage</option>
            </select>
        </div>
        <input type="submit" value="Set Sail">
    </form>
</body>
</html>
